body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
}
a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 0;
  border-bottom: 1px solid #212121;
}
a:hover {
  color: blue;
  border-bottom: 1px solid blue;
  padding-top: 3px;
  padding-bottom: 7px;
}
li {
  list-style: none;
  margin: 0 5px;
}
ul {
  display: flex;
  flex-wrap: wrap;
}
