* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  margin-left: 15px;
  padding: 3px 10px;
  font-size: 20px;
  cursor: pointer;
}
a {
  text-decoration: none;
  cursor: pointer;
}

.question {
  display: flex;
  margin-top: 30px;
}
.question.is-hidden {
  display: none;
}

.number {
  padding: 5px;
  font-size: 30px;
  font-weight: 900;
  display: inline-block;
}
.operation {
  font-size: 30px;
}
.equals {
  font-size: 30px;
}
.btn {
  margin-left: 10px;
  padding: 5px 15px;
  border-radius: 5px;
  border: transparent;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 1px 2px 3px #212121;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.btn:hover,
.btn:focus {
  background-color: blue;
  color: white;
}

.btn:disabled,
.btn:disabled {
  display: none;
}
.result {
  display: block;
  width: 300px;
  padding: 10px 15px;
  box-shadow: 1px 2px 3px #212121;
  border-radius: 4px;
}
.result.is-hidden {
  display: none;
}
.right-reply {
  color: green;
}
.amiss-reply {
  color: red;
}
.reply {
  display: inline-block;
  padding: 5px 10px;
  font-size: 24px;
}
.result-container {
  display: flex;
  text-align: center;
}

.time {
  display: flex;
  margin-left: 30px;
  border-radius: 4px;
  box-shadow: 1px 2px 3px #212121;
}
.time.hidden {
  display: none;
}
.tim {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  padding: 5px 5px;
}
.tim1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  padding-bottom: 5px;
  animation-name: opacityTim;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes opacityTim {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.total-result {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.175);
  display: flex;
  justify-content: center;
  align-items: center;
}
.total-result-container {
  position: relative;
  width: 600px;
  height: 200px;
  background-color: white;
  text-align: center;
  font-size: 34px;
  padding-top: 30px;
  box-shadow: 1px 2px 3px#21212175;
  border-radius: 10px;
}
.total-result.hidden {
  display: none;
}
.correct {
  color: green;
  font-weight: 900;
  font-size: 40px;
}
.errors {
  color: red;
  font-weight: 900;
  font-size: 40px;
}
.btn-close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  border: transparent;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 1px 2px 3px#212121;
}
.btn-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 15px;
  height: 2px;
  background-color: #212121;
}
.btn-close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 2px;
  background-color: #212121;
}
