* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
