body {
  text-align: center;
  background: #00ecb9;
  font-family: sans-serif;
  font-weight: 100;
}

.timer {
  font-size: 0;
  text-align: center;
}
.timer_section {
  display: inline-block;
  vertical-align: top;
}
.timer_section > div {
  display: inline-block;
  vertical-align: top;
  font-size: 50px;
  background: #4dadf7;
  color: #ffffff;
  line-height: 70px;
  width: 65px;
  margin: 0 1px;
  border-radius: 2px;
}
.timer_section > div.timer_section_desc {
  display: block;
  background: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  width: auto;
  margin: 0;
}
.timer_delimetr {
  display: inline-block;
  vertical-align: top;
  font-size: 50px;
  line-height: 70px;
  margin: 0 5px;
}
/* @media (max-width: 767px) {
        .timer_section > div {
          font-size: 30px;
          width: 50px;
          line-height: 40px;
        }
        .timer_delimetr {
          line-height: 40px;
          font-size: 30px;
        }
        .timer_section > div.timer_section_desc {
          font-size: 14px;
          line-height: 26px;
        }
      } */

.action {
  display: flex;
  justify-content: center;
}
.btn {
  color: white;
  font-size: 30px;
  padding: 5px 0;
  width: 150px;
  border-radius: 10px;
  border: transparent;
  box-shadow: 1px 2px 3px #212121;
}
.btn-start {
  background-color: green;
}
.btn-stop {
  background-color: red;
  margin-left: 30px;
}

.clockface {
  font-size: 50px;
  font-weight: 900;
  display: inline-flex;
  align-items: baseline;
}
.btn-reset {
  background-color: rgb(48, 48, 153);
  margin-left: 30px;
}
.btn-stop:disabled {
  background-color: rgba(255, 0, 0, 0.511);
  color: rgba(255, 255, 255, 0.51);
}
.btn-reset:disabled {
  background-color: rgba(48, 48, 153, 0.427);
  color: rgba(255, 255, 255, 0.51);
}
.btn-start:disabled {
  background-color: rgba(0, 128, 0, 0.433);
  color: rgba(255, 255, 255, 0.51);
}
